//Fuentes
$fuente_principal: "Montserrat", sans-serif;    

//Colores

$pomp_and_power: #8D6A9F;
$french_grey: #C5CBD3;
$cambridge_blue: #8CBCB9;
$hunyadi_yellow: #DDA448;
$persian_red: #BB342F;
$negro:#000000;
$blanco: #FFFF;