@use '../base/variables' as v;
@use '../base/mixins' as m;
.alta-consulta{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
}
.alta{
    flex: 0 0 45%;
    p{
        font-size: 4rem;
    }
    legend{
        font-family: v.$fuente_principal;
        font-size: 2.5rem;
        color: v.$negro;
    }
    label{
        font-family: v.$fuente_principal;
        font-size: 2rem;
        text-transform: uppercase;
        display: block;
    }
    
}

.consulta{
    flex: 0 0 50%;
    @include m.grid(6, 1rem);
}