@use '../base/variables' as v;

.barra{
    width: 100%;
    background-color: v.$pomp_and_power;
}

.nav-link{
    font-size: 2rem;
    font-weight: 600;
    color: v.$blanco;
}
 .nav-link:focus, .nav-link:hover{
        color: v.$persian_red;
 }